.navigation {
    width: 100%;

    &__checkbox {
        display: none;
    }

    &__button {
        position: fixed;
        top: 1rem;
        right: 1rem;
        //left: 0;
        z-index: 2000;
        height: 5rem;
        width: 5rem;
        //width: 100%;
        border-radius: 50%;
        background-color: $color-white;
        text-align: center;
        box-shadow: 0 1rem 1rem rgba($color-black, .1);
        cursor: pointer;
    }

    // circular background
    &__background {
        position: fixed;
        top: 2rem;
        right: 2rem;
        z-index: 1000;
        height: 3rem;
        width: 3rem;
        //width: 100%;
        border-radius: 50%;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        background: linear-gradient(to bottom, $color-primary-dark, $color-primary, $color-primary-light);

        // https://cubic-bezier.com
        transition: transform .8s cubic-bezier(.86, 0, .07, 1);    

        // not toggled
        //transform: scale(80);
    }

    &__nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        height: 100vh;
        transition: all .8s;

        // not toggled
        opacity: 0;
        width: 0;

        // cool overlap effect
        //background-color: orangered;
    }

    &__list {
        position: absolute;
        width: 100%;
        top: 17%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        padding: 0;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            padding: 2rem 1rem;
            font-size: $medium;
            font-weight: 300;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(110deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 220%;
            transition: all .5s;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
        
    }

    // toggling background
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    // ICON 
    &__icon {
        position: relative;
        margin-top: 2.5rem;

        &, 
        &::before,
        &::after {
            display: inline-block;
            width: 3rem;
            height: .2rem;
            background-color: $color-grey-light-2;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: .2s;
        }

        &::before { top: -.8rem; }
        &::after { top: .8rem; }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }
    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }
    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }
    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}
