// COLORS
$color-primary: #1c395c;
$color-primary-light: #4B7DBA;
$color-primary-dark: #0E1C2E;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$warning: #b80000;
$success: #00b834;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #a9a9a9;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fcfcfc;
$color-black: #070e17;


// FONT
$small: 1.2rem;
$regular: 1.6rem;
$medium: 2.1rem;
$large: 2.7;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
